body{
	background-color: #350D36;
	padding: 20px;
}

h1, h2{
	color: white;
}
span{
	color: lightgray;
}
div{
	color: pink;
	background-color: #33064B;
	width: 350px;
	padding-left: 20px;
	margin:20px;
}